<h1 class="display-4">{{title}}</h1>

<div class="form-group">
  <div class="row">
    <div class="col-sm">
      <label for="">Produto:</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="compra.produto">
      <label for="">Quantidade:</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="compra.quantidade">
    </div>
    <div class="col-sm">
      <label for="">Preço:</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="compra.preco">
      <label for="">Promoção:</label>
      <div class="form-check">
        <input class="form-check-input" id="checkSim" [(ngModel)]="compra.promocao" type="checkbox" value="SIM">
        <label class="form-check-label" for="checkSim">
          SIM
        </label>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-dark btn-lg btn-block" type="submit" [alertasCompras]="compra" (click)="add()">Inserir Produto</button>

<!--<ul>
  Produto | Preço | Quantidade
  <li *ngFor="let item of compras">
    {{item.produto}} | {{item.preco}} | {{item.quantidade}}
  </li>
</ul>-->
<hr class="my-4" class="hr">
<table class="table table-dark">
  <tr>
    <th>Produto</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th>Valor Total</th>
    <th>Promoção</th>
  </tr>
  <tr *ngFor="let item of compras">
    <td>
      {{item.produto}}
    </td>
    <td>
       {{item.preco | formatCurrency}}
    </td>
    <td>
       {{item.quantidade}} 
    </td>
    <td>
      {{item.totalItem | formatCurrency}}
    </td>
    <td [ngClass]="{'promocaoTrue':item.promocao == true}">
        {{item.promocao}}
    </td>
  </tr>
  <tr class="resultados">
    <th></th>
    <th>Data:</th>
    <td>
      {{data | date: 'dd/MM/yyyy hh:mm'}}
    </td>
    <th>Total:</th>
    <td>
      {{total | formatCurrency}}
    </td>
  </tr>
</table>